.card {
    display: flex;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);

}
.card__img {
    width: 225px;
    border-radius: 5px;
    margin: 12px;
}

.card__location {
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: #2B283A;
}

.card__location > a {
    letter-spacing: 0em;
    color: #918E9B;
}

.card__title {
    margin: 0;
    font-weight: 700;
    font-size: 1.4rem;
}

.card__played {
    margin: 0;
    font-size: 0.8rem;
    color: #918E9B;
}

.card__description {
    font-weight: 400;
    font-size: 0.9rem;
}


#map__icon {
    /* color= #FF6D38 */
    width: 15px;
}

#checkmark {
    /* color = #0F8368 */
    width: 15px;
}

@media (max-width: 1000px) {
    .card {
        flex-direction: column;
        align-items: center;
    }
    .card__left {
        display: flex;
        justify-content: center;
        margin-top: 0.5em;
    }
    .card__img {
        margin: 0;
        width: 75%;
    }

    .card__right {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .card__description {
        margin: 1em 2em;
    }
}

@media (max-width: 500px) {
    .card__location {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card__location > span {
        display: none;
    }

    .card__title {
        font-size: 0.9rem;
        margin: 0em 2em;
    }

    #map__icon {
        display: none;
    }
}