.card {
    display: flex;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);

}
.card__img {
    width: 225px;
    border-radius: 5px;
    margin: 12px;
}

#map__icon {
    /* color= #FF6D38 */
    width: 15px;
}

#checkmark {
    /* color = #0F8368 */
    width: 15px;
}