.navbar {
    background-color: #0F8368;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__icon {
    height: 40px;
}

.nav__title {
    font-weight: 500;
    letter-spacing: -0.075em;

    color: #ffffff;
}